h1{
  font-family: "Concert One";
}
.class-row{
height: 100vh;
}
.errorStyle{
  font-size: small;
  color: #ff0000;
  border-color: #ff0000;
  border: 1px;
}
.img1{
  max-height: 100%;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  object-fit: cover;
  background-color: #ff0000;
}
